.ficheContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 4vw;
}

.fiche2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-fiche{
    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    // height: 3.2rem;
    object-fit: cover;
    // width: 3.3rem;
    width: 40px;
    height: 40px;
}

@media (max-width: 800px) {
    .ficheContainer {
        flex-direction: column; /* Affiche les parties en colonne */
    }

    .fiche2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start; /* Aligne les éléments à gauche */
        margin-top: 20px;
    }
}

.infos {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #ff6060;
}

p {
    font-size: 18px;
    margin-right: 1rem;
    text-align: right;
    width: 120px;
    color: #ff6060;
}

.tag {
    display: inline-block;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 5px 30px;
    margin-right: 5px;
    // @media (max-width: 800px) {
    //     padding: 1vw 2vw;
    //     font-size: 12px;
    //     margin-bottom: 5px;
    // }
}

.hosts {
    display: flex;
    align-items: center;
    color: #ff6060;
}

.host {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0.8vw;
}

.rating {
    margin-top: 20px;
    color: #ff6060;
}

.star-active {
    color: #ff6060;
}

.star-inactive {
    color: #e3e3e3;
}
