.footer {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;

    span {
        border: 2px solid white;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }

    .text-footer {
        color: white;
        margin-bottom: 2rem;
        font-size: 20px;
    }
    .img-footer {
        margin-top: 2rem;
        width: 7rem;
    }
}

@media only screen and (max-width: 768px) {
    .text-footer {
        width: 50%;
        margin-left: 1rem;
        // line-height: 17px;
        font-size: 12px;
    }
    .img-footer {
        width: 25%;
    }
}
