.ficheContainer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.fiche1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fiche2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-fiche {
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    // width: 40px;
    height: 2.7rem;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-infos {
    margin-bottom: 10px;
    font-size: 35px;
    color: #ff6060;
}

.title-page {
    font-size: 1.1rem;
    margin: 0.1rem 0 0.5rem;
    color: #ff6060;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 0.2rem 1.5rem;
    margin: 1rem 1rem 1rem 0;
    font-size: 18px;
}

.hosts {
    display: flex;
    align-items: center;
    color: #ff6060;
}

.host {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0.8vw;
}

.rating {
    text-align: right;
    margin: 1rem 1rem 1rem 0;
//     margin: 0.6rem;
 }

.star-active {
    color: #ff6060;
}

.star-inactive {
    color: #e3e3e3;
}

.slides-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.hosts-title {
    font-weight: 500;
    margin-right: 0.5rem;
    text-align: right;
    width: 5.5rem;
    line-height: 1rem;
    font-size: 16px;
}

@media (max-width: 768px) {
    .ficheContainer {
        flex-direction: column; /* Affiche les parties en colonne */
    }

    .title-infos{
        font-size: 18px;
    }

    .fiche2 {
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    // .rating {
    //     padding: 0 0.2rem 1rem 0;
    // }

    .tag {
        margin: 0.7rem 0.2rem 0.3rem;
        padding: 0.4rem 0.6rem;
        font-size: 10px;
    }
}
