.about {
    width: 95%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 20px auto;

    img {
        object-fit: cover;
        height: 180px;
        width: 100%;
        border-radius: 25px;
        filter: brightness(75%);
        position: relative;
    }
}

@media (max-width: 768px) {
    .banner {
        justify-content: start;
        width: 98%;
    }
}
