
   
    ul.navigation{
        display: flex;
      list-style: none;
        a {
            font-weight: 500;
            font-size: 25px;
            text-decoration: none;
            padding: 10px;
            color: #ff6060;
            &:hover {
                text-decoration: underline;
              
            }
        }
        .nav-active {
            // position: absolute;
            position: relative;
            text-decoration: underline;

           
        }
    
}

@media only screen and (width <= 767px) {

    ul.navigation{
     
        a {
          
            font-size: 16px;
            padding: 4px;
    
        }
}
  
  }