.banner {
    // width: 95%;
    border-radius: 25px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

    h1 {
        position: absolute;
        font-weight: 500;
        font-size: 46px;
        // transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
    }

    img {
        position: relative;
        object-fit: cover;
        height: 180px;
        width: 100%;
        border-radius: 25px;
        filter: brightness(0.7);
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        //width: 330px;
        //font-size: 10px;

        h1 {
            width: 60%;
            padding-left: 1.2rem;
            font-size: 28px;
        }

        //     img{
        //        height: 120px;
        //    }
    }
}
