.homeContainer {
    padding: 2rem;

    .gallery {
        background-color: rgb(246, 246, 246, 1);
        border-radius: 25px;
        margin: 2rem auto 2rem;
        
    }
}


@media only screen and (max-width: 768px) {
    .homeContainer {
        padding: 1rem;

        .gallery {
            padding: 40px;
            gap: 30px;
            /* grid-template-rows: repeat(1, 1fr); */
            grid-template-columns: repeat(1, 1fr);
            display: grid;
            width: 100%;
            background: none;
            // width: 100%;
            padding: 0;
            margin: 0 0 1rem;
        }
    }
}
