.gallery {
    padding: 45px;
    gap: 45px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    display: grid;
   // margin-left: 22px;
    //margin-right: 22px;

  //@media only screen and (width.<=){
    
 // }

    .Card {
        .cards {
            //margin: 30px;
            //width: 30%;
            position: relative;
            height: 340px;
            border-radius: 10px;
            //background-color: rgb(255, 96, 96, 1);
            background-image: linear-gradient(to top, #853434, #ff6060);

           
          

        }

        h2 {
            position: absolute;
            width: 26%;
            /* height: 5px; */
            margin-left: 10px;
            bottom: 5px;
            //margin: 0;
            color: rgba(255, 255, 255, 1);
            font-weight: 500;
            line-height: 26px;
        }
    }
}

@media only screen and (width <= 768px) {
    .gallery{
        padding: 0;
    gap: 25px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    display: grid;
        .Card{

            .cards{
                min-width: 330px;
                height: 220px;
                  }

                  h2{
                    width: 30%;
                  }

        }
    }

  
  }



