.collapses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.collapse {
    // margin: auto;
    /* border-radius: 10px; */
    margin: 1.5rem 0;
    color: #fff;
    width: 49%;
    //overflow: hidden;
   
    // @media (max-width: 800px) {
    //     width: 90vw;
    // }

    .radius {
        border-radius: 10px 10px 0 0;
    }

    .collapse-header {
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ff6060;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0 1vw;
        border-radius: 10px;

        .collapseTitle{
            font-size: 18px;
            margin: 0;
            padding: 10px;
        
        }

        .collapseIcon {
            transition: transform 0.3s ease;
        }

        .open .collapseIcon {
            transform: rotate(180deg);
        }
    }

    .collapseContent {
        // width: 95%;
        background-color: #f6f6f6;
        padding: 10px;
        color: #ff6060;
    
        ul {
            list-style-type: none;
        }
    
        li {
            padding: 5px;
        }
    }
}

// @media (max-width: 768px) {
//     .collapses-container {
//       margin-top: 1rem;
//       width: 98%;
//     }
// }

.collapseInfo {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){
    .collapses-container {
        margin-top: 1rem;
        width: 98%;
      }
.collapseInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.collapse{
    // margin-bottom: 0;
    width: 95%;
}
}
