
.homeContainer{
   padding: 2rem;

.gallery{
    background-color: rgb(246, 246, 246, 1);
    //width: 100%;
    border-radius: 25px;
    //height: 820px;
    margin: 2rem auto 2rem;
    // margin-top: 30px;
    //margin-bottom: 30px;


}
}



@media only screen and (width <= 768px) {
    .homeContainer{
        padding: 1rem;
        .gallery{
            background: none;
            
        }
       
    }
  
  }



@media only screen and (max-width: 768px) {
   .homeContainer{
        padding: 1rem;

       .gallery{
        width: 100%;
        background: none;
        width: 100%;
        padding: 0;
        margin: 0 0 7rem;
       } 
   }

    
}